!.idea/codeStyles
!.idea/runConfigurations
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   For a library or package, you might want to ignore these files since the code is
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   https://pdm.fming.dev/#use-with-ide
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#   in version control.
#   install all needed dependencies.
#   intended to run in multiple environments; otherwise, check them in:
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  Usually these files are written by a python script from a template
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
# *.iml
# *.ipr
# .idea/*.iml
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules
# .idea/modules.xml
# .python-version
# AWS User-specific
# Android studio 3.1+ serialized cache file
# Byte-compiled / optimized / DLL files
# C extensions
# CMake
# Celery stuff
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Crashlytics plugin (for Android Studio and IntelliJ)
# Created by https://www.toptal.com/developers/gitignore/api/python,pycharm+all
# Cursive Clojure plugin
# Cython debug symbols
# Distribution / packaging
# Django stuff:
# Edit at https://www.toptal.com/developers/gitignore?templates=python,pycharm+all
# Editor-based Rest Client
# End of https://www.toptal.com/developers/gitignore/api/python,pycharm+all
# Environments
# File-based project format
# Flask stuff:
# Generated files
# Gradle
# Gradle and Maven with auto-import
# IPython
# Ignore everything but code style settings and run configurations
# Installer logs
# IntelliJ
# JIRA plugin
# Jupyter Notebook
# LSP config files
# Mongo Explorer plugin
# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
# Poetry local configuration file - https://python-poetry.org/docs/configuration/#local-configuration
# PyBuilder
# PyCharm
# PyInstaller
# Pyre type checker
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# Rope project settings
# SageMath parsed files
# Scrapy stuff:
# Sensitive or high-churn files
# SonarLint plugin
# Sphinx documentation
# Spyder project settings
# Translations
# Unit test / coverage reports
# User-specific stuff
# When using Gradle or Maven with auto-import, you should exclude module files,
# auto-import.
# mkdocs documentation
# mpeltonen/sbt-idea plugin
# mypy
# pdm
# pipenv
# poetry
# pyenv
# pytype static type analyzer
# ruff
# since they will be recreated, and may cause churn.  Uncomment if using
# that are supposed to be shared within teams.
### PyCharm+all ###
### PyCharm+all Patch ###
### Python ###
### Python Patch ###
#.idea/
#Pipfile.lock
#pdm.lock
#poetry.lock
*$py.class
*.cover
*.db
*.egg
*.egg-info/
*.iws
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/*
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.web
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
__pypackages__/
atlassian-ide-plugin.xml
build/
celerybeat-schedule
celerybeat.pid
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
fabric.properties
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
poetry.toml
profile_default/
pyrightconfig.json
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/